@model IEnumerable<MoviesDBCommon.Movie>

<div>
    <div>
        <h1>Search</h1>
        <h2>Type any string you want to search in movie titles</h2>
    </div>
    <hr>
    @using (Html.BeginForm())
    {
        <div class="form-inline">
            <div class="form-group">
                Title
                <div class="col-md-10">
                    @Html.TextBox("title")
                </div>
            </div>

            <div class="form-group">
                Year
                <div class="col-md-10">
                    @Html.TextBox("year")
                </div>
            </div>

            <div class="form-group">
                Type
                <div class="col-md-10">
                    @Html.TextBox("type")
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Filter" class="btn btn-default" />
                </div>
            </div>
        </div>
        <br />

            @*<div class="form-horizontal">
                <div class="breadcrumb">
                    <div class="row">
                        <div class="col-sm-2">
                            <p>Title @Html.TextBox("title")</p>
                        </div>
                        <div class="col-sm-2 ">
                            <p>Year  @Html.TextBox("year")</p>
                        </div>
                        <div class="col-sm-2 ">
                            <p>Type   @Html.TextBox("type")</p>
                        </div>
                        <div class="col-sm-2">
                            <br />
                            <p><input type="submit" value="Filter" class="btn-group-xs"></p>
                        </div>
                    </div>
                </div>*@

                }
            </div>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Year)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Thumbnail)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @if (item.Thumbnail != null)
                            {
                                <img src="@Url.Content(item.Thumbnail)" alt="IMAGES" />
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.MovieId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.MovieId })
                        </td>
                    </tr>
                }

            </table>
